@import url('reset.css');

/* ---- Transitions ---- */
.masonry,.masonry .masonry-brick {
    -webkit-transition-duration: 0.6s;
         -moz-transition-duration: 0.6s;
             -o-transition-duration: 0.6s;
                    transition-duration: 0.6s;
}

.masonry {
    -webkit-transition-property: height, width;
         -moz-transition-property: height, width;
             -o-transition-property: height, width;
                    transition-property: height, width;
}      
        
.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
         -moz-transition-property: left, right, top;
             -o-transition-property: left, right, top;
                    transition-property: left, right, top;
}   

* { 
    box-sizing: border-box; 
    text-decoration: none;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    display: flex;
    justify-content: flex-end;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}


/* ---- 版型開始 ---- */
header{
    background: #eeebeb;
    width: 20vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 20px;
    z-index: 2;
}

header ul{
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
    color: #999;
}

header ol{
    margin: 0 auto;
    text-align:  center;
    align-self: center;
}

header ul li{
    list-style: none;
    line-height: 40px;
}

nav>img{
    width: 120px;
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
}

.ham{
    display: none;
  }
  
.ham span{
    display: block;
    width: 32px;
    height: 2px;
    margin: 8px auto;
    background-color: #333;
    border-radius: 1px;
    transform-origin: 25px 0px;
    transition: transform 0.8s cubic-bezier(0.04, 0.27, 0.5, 1.01), opacity 0.55s ease;
  
}
  
.ham span:nth-child(1) {
    transform-origin: 10% 0%;
}
  
.ham span:nth-child(2) {
    transform-origin: 100% 100%;
}
  
.ham span:nth-child(3) {
    transform-origin: 10% 0%;
}
  
.-close{
    display: block;
    transition: .6s;
}
  
.-close span {
    background-color: #333;
    opacity: 1;
    transform: rotate(45deg) translate(2px, -1px);
}
.-close span:nth-child(2) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}
.-close span:nth-child(3) {
    transform: rotate(-45deg) translate(1px, 0px);
}

section{
    width: 80vw;
    min-height: 100vh;
    height: auto;
    background: #eeebeb;
    padding-top: 40px;
}  

.container{
    margin: 0;
}
        
.container:after {
    content: '';
    display: block;
    clear: both;
}

.item {
    width: 380px;
    height: auto;
    float: left;
    background: rgba(255,255,255,.5);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}

.item:hover {
    background: rgba(255,255,255,1);
    box-shadow: 0 0 5px #eeebeb;
    transition:  .6s;
}

img{
    width: 100%;
    display: block;
}

mark{
    font-size: 10px;
    line-height: 40px;
    padding: 2px 5px;
    border: 1px solid #ccc;
    background-color: transparent;
    border-radius: 3px;
    margin: 10px 0;
}

h1{
    font-size: 20px;
    font-weight: 700;
}

time{
    font-size: 12px;
    color: #666;
}

    

/* ---- 內頁版型 ---- */

.inner{
    display: none;
    background: #fff;
}

.item_introduction{
    margin: 0 auto;
    width: 60vw;
}

.item_introduction p{
    margin: 40px auto;
}

.item_introduction img{
    margin: 30px auto;
}

.item_introduction .main{
    margin: 20px auto 60px;
}

h2{
    font-size: 36px;
    font-weight: 700;
}

.title{
    background-color: #eeebeb;
    padding: 10px 20px;
    color: #666;
    margin: 30px auto;
}

.title p{ 
   margin: 10px 0;
}

.back{
    padding: 16px 13px;
    background-color: #eeebeb;
    color: #666;
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    cursor: pointer;
    transition: .3s;
    font-size: 12px;
}

.back:hover{
    background-color: #333;
    color:#eeebeb;
}

.gotop{
    padding: 15px 18px;
    display: flex;
    background-color:  rgba(255,255,255,.5);
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    color:  #666;
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 40px;
    cursor: pointer;
    font-weight: bold;
}


/* 動態專用區 */
.-nono{
    display: none;
}
.-open{
    display: block;
}
.-this{
    color: #333;
}



@media screen and (max-width: 767px) {
    .container{
        margin: 0 auto;
        width: 90%;
        position: fixed;
        height: 100%;
        overflow: auto;
    }

    header{
        width: 100vw;
        height: auto;
        background-color: transparent;
    }

    header ul{
        position: absolute;
        top: 0;
        right: -100vw;
        width: 70vw;
        height: 100vh;
        padding: 20vw 0;
        background: #eeebeb;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        transition: .6s;
    }

    header .-show{
        right: 0;
    }
    
    header ol{
       display: none;
    }
    nav>img{
        position: absolute;
        top: 20px;
        left: 20px;
        width: 60px;

    }
    .ham{
        display: block;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
    }  

    section{
        width: 100vw;
        height: 100%;
        padding-top: 90px;
    }

    .item {
        width: 100%;
       

    }

    .item_introduction{
        width: 95vw;
    }

    h2{
        font-size: 1.6rem;
    }
    
    .back,.gotop{
        right: 20px;
    }
    
    
    
    
    
}



       


        